<div class="addModal">
  <div class="modal_body">
      <form class="max-w-sm mx-auto" (ngSubmit)="onEditTeam()">
          <div class="mb-0">
              <label for="team_name" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">
                  Team Name
              </label>
              <input
                  type="text"
                  id="team_name"
                  class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                  placeholder="Team Name"
                  required
                  [(ngModel)]="teamToEdit.team_name"
                  name="team_name"
              />
          </div>

          <div class="mb-0">
              <label for="battle_points" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">
                  Battle Points
              </label>
              <input
                  type="number"
                  id="battle_points"
                  class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                  placeholder="Battle Points"
                  required
                  [(ngModel)]="teamToEdit.battle_points"
                  name="battle_points"
              />
          </div>

          <div class="mb-0">
              <label for="description" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">
                  Description
              </label>
              <textarea
                  id="description"
                  class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                  placeholder="Team Description"
                  required
                  [(ngModel)]="teamToEdit.description"
                  name="description">
              </textarea>
          </div>

          <div class="mb-0">
              <label for="total_pokemon" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">
                  Total Pokémon
              </label>
              <input
                  type="number"
                  id="total_pokemon"
                  class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                  placeholder="Total Pokémon"
                  required
                  [(ngModel)]="teamToEdit.total_pokemon"
                  name="total_pokemon"
              />
          </div>

          <div class="mb-0">
              <label for="pokemon1" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Selecciona un Pokémon</label>
              <select id="pokemon1" 
                      class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                      [(ngModel)]="selectedPokemonId1"
                      name="selectedPokemonId1">
                  <option value="">-</option>
                  <option *ngFor="let pokemon of arrayPokemons" 
                          [value]="pokemon.pokemon_id"> 
                      {{ pokemon.pokemon_name }} 
                  </option>
              </select>
          </div>
          
          <div class="mb-0">
              <label for="pokemon2" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Selecciona otro Pokémon</label>
              <select id="pokemon2" 
                      class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                      [(ngModel)]="selectedPokemonId2"
                      name="selectedPokemonId2">
                  <option value="">-</option>
                  <option *ngFor="let pokemon of arrayPokemons" 
                          [value]="pokemon.pokemon_id"> 
                      {{ pokemon.pokemon_name }} 
                  </option>
              </select>
          </div>
          
          <div class="mb-0">
              <label for="pokemon3" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Selecciona otro Pokémon</label>
              <select id="pokemon3" 
                      class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                      [(ngModel)]="selectedPokemonId3"
                      name="selectedPokemonId3">
                  <option value="">-</option>
                  <option *ngFor="let pokemon of arrayPokemons" 
                          [value]="pokemon.pokemon_id"> 
                      {{ pokemon.pokemon_name }} 
                  </option>
              </select>
          </div>
          
          <div class="mb-0">
              <label for="pokemon4" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Selecciona otro Pokémon</label>
              <select id="pokemon4" 
                      class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                      [(ngModel)]="selectedPokemonId4"
                      name="selectedPokemonId4">
                  <option value="">-</option>
                  <option *ngFor="let pokemon of arrayPokemons" 
                          [value]="pokemon.pokemon_id"> 
                      {{ pokemon.pokemon_name }} 
                  </option>
              </select>
          </div>

          <div class="flex justify-center space-x-4 mt-4">
              <button
                  type="submit"
                  class="text-white bg-green-700 hover:bg-green-800 focus:ring-4 focus:outline-none focus:ring-green-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center dark:bg-green-600 dark:hover:bg-green-700 dark:focus:ring-green-800">
                  Save Changes
              </button>
              <button
                  type="button"
                  (click)="onClose()"
                  class="text-white bg-red-700 hover:bg-red-800 focus:ring-4 focus:outline-none focus:ring-red-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center dark:bg-red-600 dark:hover:bg-red-700 dark:focus:ring-red-800">
                  Cancel
              </button>
          </div>
      </form>
  </div>
</div>
