<div class="fixed inset-0 bg-gray-600 bg-opacity-50 flex justify-center items-center z-50"> 
    <div class="bg-white p-6 rounded-lg shadow-lg w-full max-w-md">
      <h2 class="text-2xl font-semibold mb-4 text-center">Agregar Torneo</h2>
      
        <form (ngSubmit)="onSubmitTournament()" class="space-y-4">
          <label>
            Nombre del Torneo:
            <input type="text" [(ngModel)]="tournamentName" name="tournamentName" required />
          </label>
          
          <label>
            Fecha de Inicio:
            <input type="date" [(ngModel)]="startDate" name="startDate" required />
          </label>
        
          <label>
            Fecha de Finalización:
            <input type="date" [(ngModel)]="endDate" name="endDate" required />
          </label>
        
          <h3>Equipos:</h3>
          <ul>
            <li *ngFor="let team of teams">
              <label>
                <input
                  type="checkbox"
                  [checked]="selectedTeams.includes(team.id)"
                  (change)="toggleTeamSelection(team.id)"
                />
                {{ team.name }}
              </label>
            </li>
          </ul>
          <button (click)="close()" class="text-red-500 mt-4">Cerrar</button>
          <button type="submit">Crear Torneo</button>
        </form>
        
    </div>
  </div>
      