<div class="box-principalCards">
  <div class="principalCard-trainer">
    <div
      class="w-full h-full bg-white border border-gray-200 shadow dark:bg-gray-800 dark:border-gray-700"
    >
      <div class="principalCard-container" href="#">
        <img class="principalCard-img" src="Logo/entrenadores.webp" />
      </div>
      <div class="flex items-center justify-between">
        <a href="trainers" class="principalCard-button">GO TO TRAINERS</a>
      </div>
    </div>
  </div>

  <div class="principalCard-team">
    <div
      class="w-full h-full bg-white border border-gray-200 shadow dark:bg-gray-800 dark:border-gray-700"
    >
      <div class="principalCard-container" href="#">
        <img class="principalCard-img" src="Logo/rocketteam.jpg" />
      </div>

      <div class="flex items-center justify-between">
        <a href="teams" class="principalCard-button">GO TO TEAMS</a>
      </div>
    </div>
  </div>
</div>
